.autorization {
	font-family: "Inter", sans-serif;
	align-self: flex-start;
	padding: 41px 75px;
	min-width: 100%;
}
.autorization__title {
	font-size: 32px;
	font-weight: 700;
	margin: 0 0 13px 0;
	color: #1e1e1e;
}
.autorization__subtitle {
	width: 100%;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	color: #7f7f7f;
}
.autorization__block {
	margin-top: 47px;
	width: 100%;
}

.autorization__nickname {
	color: #353535;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	margin: 0 0 4px 0;
}
