.autorization {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    max-width: 400px;
    padding: 3rem;
    margin: 0 auto auto auto;
}
.autorization__title {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 13px 0;
    color: #1e1e1e;
}
.autorization__subtitle {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: #7f7f7f;
}
.autorization__block {
    margin-top: 47px;
    width: 100%;
}

.autorization__nickname {
    color: #353535;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0 0 4px 0;
}
