.question__title {
    color: #1e1e1e;
    font-size: 32px;
    font-family: "Montserrat", sans-serif;
    margin: 24px 0;
}
.question {
    // margin: 0 auto;
    padding: 3rem;
    min-width: 600px;

    button {
        &:hover {
            border-color: #1e1e1e;
        }
    }
}
.question__page {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    color: #b06ab3;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    text-align: end;
    bottom: 1.5rem;
    right: 1.5rem;
}
