.question__title {
	color: #1e1e1e;
	font-size: 32px;
	font-family: "Montserrat", sans-serif;
	margin: 24px 0;
}
.question {
	width: 100%;
	// margin: 0 auto;
	padding: 40px 50px;
}
.question__page {
	font-family: "Montserrat", sans-serif;
	color: #b06ab3;
	font-weight: bold;
	font-size: 16px;
	margin: 0;
	text-align: end;
	margin-top: 10px;
}
